In [6]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter the price = "))
    quantity = int(input("Enter the quantity = "))
    total = price*quantity
    data = {price, quantity, total}
    a[name] = data
    
print(a)

Enter n = 2
Enter product name = ROse
Enter the price = 300
Enter the quantity = 2
Enter product name = Hibiscus
Enter the price = 200
Enter the quantity = 3
{'ROse': {600, 2, 300}, 'Hibiscus': {200, 600, 3}}

In [3]:
a = []
net_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter the price = "))
    quantity = int(input("Enter the quantity = "))
    total = price*quantity
    data = {"name" : name ,"price" : price , "quantity" : quantity , "total" : total}
    a.append(data)
    net_total = net_total + total
print(a)
print("The net total is \n", net_total)

Enter n = 3
Enter product name = Rose
Enter the price = 300
Enter the quantity = 2
Enter product name = Dandelion
Enter the price = 200
Enter the quantity = 3
Enter product name = Hibiscus
Enter the price = 400
Enter the quantity = 4
[{'name': 'Rose', 'price': 300, 'quantity': 2, 'total': 600}, {'name': 'Dandelion', 'price': 200, 'quantity': 3, 'total': 600}, {'name': 'Hibiscus', 'price': 400, 'quantity': 4, 'total': 1600}]
The net total is
 2800

In [12]:
a[0]

{'name': 'Rose', 'price': 300, 'quantity': 2, 'total': 600}

In [5]:
search = input("Enter any value = ")
for i in a:
    
    print()

Enter any value = Rose
Rose
Rose
Rose