In [4]:
a = tuple()
b = (1,2,3)
print(a,b)
print(type(a))
type(b)

() (1, 2, 3)

tuple

In [6]:
a = ("Apple")
b = ("Apple",)
print(type(a))
print(type(b))

<class 'str'>
<class 'tuple'>

In [7]:
a = (1)
b = (2,)
print(type(a))
print(type(b))

<class 'int'>
<class 'tuple'>

In [8]:
a = ()
b = (1,)
c = a+b
d = c+(2,)
print(d)

(1, 2)

In [2]:
t =()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("enter the value of x = "))
    t = t+(x,)
print(t)

Enter n = 3
enter the value of x = 34
enter the value of x = 67
enter the value of x = 98
(34, 67, 98)

In [3]:
#list inside tuple
a = ([1,2,3],[2,3,4])
type(a)

#tuple inside tuple
b = ((1,2,3),(2,3,4))

#tuple inside list
c = [(1,2,3),(2,3,4)]

tuple

In [13]:
#list inside list into tuple inside tuple
data = ()
a = [[1,2,3],[2,3,4],[3,4,5]]
b = tuple(a,)
for i in b:
    c = tuple(i)
    data = data + (c,)
print(data)

((1, 2, 3), (2, 3, 4), (3, 4, 5))