In [4]:
a = input("Enter the value of a = ")
type(a)

Enter the value of a = tjer

str

In [1]:
#string formatting
data = ""
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter the name = ")
    age = int(input("Enter the age = "))
    add = input("Enter the address = ")
    info = f"HEllo, I am {name}. I am from {add}. I am {age}.\n"
    data = data +info
    
print(data)

Enter n =2
Enter the name = ram
Enter the age = 34
Enter the address = Kathmandu
Enter the name = John
Enter the age = 32
Enter the address = Connnecticut
HEllo, I am ram. I am from Kathmandu. I am 34.
HEllo, I am John. I am from Connnecticut. I am 32.

In [3]:
print(data)

HEllo, I am ram. I am from Kathmandu. I am 34.
HEllo, I am John. I am from Connnecticut. I am 32.

In [1]:
a = "Democracy is the government of the people, for the people, by the people."
search = input("Enter any value for search =")
if search in a:
    print("Yes")
    print(f"{search} in a is  =", a.count(search)) # Counts the number of times the string is repeated.

Enter any value for search =people
Yes
people in a is  = 3

In [3]:
a = "Democracy is the government of the people, by the people, for the people."
search = input("Enter any value for search =")
alower = a.lower()
lower_search = search.lower()
if search.lower() in alower:
    print("Yes")
    print(f"{search} in a is  =", a.count(search.lower()))
else :
    print("No value")

Enter any value for search =JOHN
No value

In [5]:
#a.replace("initial value", "final value")(replaces the current value with another value)
a = "Democracy is the government of the people, by the people, for the people."
search = input("Enter any value for search = ")
replace_with = input("Enter any value to replace = ")
b = a.replace(search, replace_with)
print(b)

Enter any value for search = people
Enter any value to replace = citizens
Democracy is the government of the citizens, by the citizens, for the citizens.

In [8]:
a = "Democracy is the government of the people, by the people, for the people."
search = input("Enter any value for search =")
replace_with = input("Enter any value to replace = ")
alower = a.lower()
lower_search = search.lower()
if search.lower() in alower:
    print("Yes")
    b = alower.replace(lower_search,replace_with)
    print(b)
else :
    print("No value")

Enter any value for search =peoplE
Enter any value to replace = citizenS
Yes
democracy is the government of the citizenS, by the citizenS, for the citizenS.

In [9]:
a = "Apple Ball"
b = a.split()
print(b)

['Apple', 'Ball']

In [19]:
data = ""
n = int(input("Enter n ="))
for i in range(1,n+1):
    name = input("Enter the name = ")
    age = int(input("Enter the age = "))
    add = input("Enter the address = ")
    info = f"{i} {name} {add} {age}.\n"
    data = data +info
    
print(data)

Enter n =3
Enter the name = John
Enter the age = 23
Enter the address = New York
Enter the name = Juan
Enter the age = 23
Enter the address = Guadalajara
Enter the name = Niyam
Enter the age = 18
Enter the address = Kathmandu
1 John New York 23.
2 Juan Guadalajara 23.
3 Niyam Kathmandu 18.

In [20]:
print(data)

1 John New York 23.
2 Juan Guadalajara 23.
3 Niyam Kathmandu 18.

In [21]:
b = data.split("\n")
print(b)

['1 John New York 23.', '2 Juan Guadalajara 23.', '3 Niyam Kathmandu 18.', '']

In [24]:
print(b[0])

1 John New York 23.